<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>IoT Project Sensor</title>
</head>
<body>
<h1 style="text-align: center; margin-top: 5%"> IoT Project</h1>
<h2 style="text-align: center">Sensor DataSet in Real-Time</h2>
<div style="margin-top: 5%" class="row align-middle   justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive" style="border: 1px solid">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center">Temperature</th>
                <th scope="col" style="text-align: center">Humidity</th>
                <th scope="col" style="text-align: center">Gas</th>
                <th scope="col" style="text-align: center">Pressure</th>
                <th scope="col" style="text-align: center">Altitude</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td id="temperature" style="text-align: center">undefined</td>
                <td id="humidity" style="text-align: center">undefined</td>
                <td id="gas" style="text-align: center">undefined</td>
                <td id="pressure" style="text-align: center">undefined</td>
                <td id="altitude" style="text-align: center">undefined</td>
            </tr>
            </tbody>
        </table>
        <div id="countdown"></div>
    </div>
</div>
<footer>

    <p style="margin-top: 20%; text-align: center">Sensor use: Adafruit BME680 from Bosch <br>More infos in the <a href="https://learn.adafruit.com/adafruit-bme680-humidity-temperature-barometic-pressure-voc-gas/overview"> website</a></p>
</footer>
</body>
</html>
<script>

    var HttpClient = function() {
        this.get = function(aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function() {
                if (anHttpRequest.readyState === 4 && anHttpRequest.status === 200)
                    aCallback(anHttpRequest.responseText);
            }

            anHttpRequest.open( "GET", aUrl, true );
            anHttpRequest.send();
        }
    }

    var timeleft = 10;
    var downloadTimer = setInterval(function(){
        timeleft -= 1;
        if(timeleft <= 0){
            document.getElementById("countdown").innerHTML = "Refreshing...";
            timeleft = 10
        } else {
            document.getElementById("countdown").innerHTML = "Refresh in " + timeleft + " seconds";
        }
    }, 1000);

        function updateLatestPrice() {
            fetch('http://localhost:8080/api/dataSense/<%= sensorId %>')
                .then( function(response) {
                    return response.json();
                })
                .then(function (myJson) {
                    console.log(myJson.data)
                    document.querySelector("#temperature").innerHTML = myJson.data.temperature + "°C";
                    document.querySelector("#pressure").innerHTML = myJson.data.pressure + "hPa";
                    document.querySelector("#gas").innerHTML = myJson.data.gas + "Ω (ohms)";
                    document.querySelector("#humidity").innerHTML = myJson.data.humidity + "%";
                    document.querySelector("#altitude").innerHTML = myJson.data.altitude + "meters";
                })
                .catch(function (error) {
                    console.log("Error: " + error);
                })

        }
    setInterval(updateLatestPrice, 10000)
</script>
<style>

</style>
